{% extends 'base.html' %}

{% block content %}

{% if object %}
    <h1>EDIT <span class="purple-text text-accent-2">{{ object.name }}</span></h1>
{% else %}
    <h1>ADD A FISH:</h1>
{% endif %}
    
<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn-floating" style="background-color:rgb(252, 215, 72);"> + </button>
</form>

<script>
    const dateEl = document.getElementById('id_date_added');
    M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
{% endblock %}
    